@charset "UTF-8";
@import "../global.css";
@import "../fonts.css";
@import "../utils.css";
header {
  position: fixed;
  z-index: 1;
  top: 24px;
  transform: translateX(-50%);
  left: 50%;
}

.menu-head-burger {
  display: none;
}

.main-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 16px 24px;
  border-radius: 12px;
  background-color: white;
  align-self: center;
  gap: 80px;
  width: 1224px;
}
.main-head h3 {
  text-transform: uppercase;
  color: #306ff5;
}
.main-head nav > ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.main-head nav > ul > li > a {
  text-decoration: none;
  color: #000000;
}

.contacts {
  display: flex;
  flex-direction: row;
  color: #306ff5;
  font-family: SF Pro Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  gap: 32px;
}

.phone-numbers-contact > a {
  text-decoration: none;
  margin-right: 16px;
}

.phone-numbers-contact > img {
  vertical-align: middle;
}

.email-contact > a {
  text-decoration: none;
}

.email-contact > img {
  vertical-align: middle;
}

@media (max-width: 1439px) {
  .menu-burger,
  .phone-numbers-contact {
    display: none;
  }
  .menu-head-burger {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .email-contact {
    gap: 8px;
  }
  .main-head {
    display: flex;
    width: 100%;
    height: 90px;
    padding: 24px 32px;
    justify-content: space-between;
    flex-shrink: 0;
  }
  .main-head h3 {
    font-size: 20;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #306ff5;
    text-decoration: none;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header {
    position: fixed;
    margin-top: 24px;
    top: 0;
    z-index: 50;
    width: 100%;
  }
  .menu-head-burger > span {
    background: #306ff5;
    width: 59px;
    height: 8px;
    flex-shrink: 0;
  }
  .menu-head-burger:after {
    bottom: 8px;
  }
  .menu-head-burger:before {
    top: 8px;
  }
}
@media (max-width: 768px) {
  .menu-burger,
  .contacts {
    display: none;
  }
  .menu-head-burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .menu-head-burger span {
    background: #306ff5;
    width: 40px;
    height: 4px;
    flex-shrink: 0;
  }
  .menu-head-burger:after {
    bottom: 4px;
  }
  .menu-head-burger:before {
    top: 4px;
  }
}
/* Первый блок с текстом*/
.block-main {
  display: flex;
  flex-direction: row;
  background-color: #f2f4f7;
  position: relative;
  max-width: 1224px;
  margin: auto;
}

.main-section {
  position: relative;
  min-height: 900px;
}

.main-text {
  max-width: 600px;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 1;
}

.word-in-text {
  color: #306ff5;
}

.consultation {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px;
  gap: 32px;
  background-color: white;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  margin-top: 64px;
  max-width: 724px;
}

.consultation-form {
  display: flex;
  justify-content: space-between;
}

.consultation-form > label {
  color: #667085;
  font-family: SF Pro Text;
  font-size: 13px;
  font-style: normal;
  line-height: 16px;
  margin-right: 24px;
}

.consultation-form input[type=tel],
.consultation-form input[type=text] {
  color: #000000;
  font-family: SF Pro Text;
  font-size: 17px;
  font-style: normal;
  line-height: 22px;
  border-bottom: #d0d5dd solid;
  border-width: 0px 0px 0.7px 0px;
  width: 200px;
  margin-top: 8px;
}

.submit-button {
  text-align: left;
  border-radius: 8px;
  background: #306ff5;
  color: white;
  font-family: SF Pro Text;
  font-size: 14px;
  line-height: 18px;
  border: 0px;
  padding: 11px 24px;
  margin: 0px;
}

.screenshot-block {
  position: absolute;
  top: -591px;
  left: 720px;
  display: flex;
  gap: 20px;
  width: 624px;
  flex-wrap: wrap;
  transform: rotate(-12deg);
  z-index: 0;
}

.screenshot-block > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.screenshot-block > div > img {
  width: 292.226px;
  height: 632.767px;
  border-radius: 24px;
}

@keyframes slideUpLeft {
  0% {
    transform: translateY();
  }
  100% {
    transform: translateY(-80%);
  }
}
@keyframes slideDownRight {
  0% {
    transform: translateY();
  }
  100% {
    transform: translateY(80%);
  }
}
.screenshot-photo-left img {
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: slideDownRight;
}

.screenshot-photo-right img {
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: slideUpLeft;
}

@media (max-width: 1439px) {
  .main-section {
    position: relative;
    min-height: 762px;
    margin-bottom: 32px;
  }
  .main-text {
    max-width: 383px;
  }
  .consultation {
    width: 382px;
    padding: 32px;
    font-size: 16px;
  }
  .consultation-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .screenshot-block {
    top: -69px;
    left: 456px;
  }
  .screenshot-block > div > img {
    width: 137.93px;
    height: 298.663px;
  }
}
@media (max-width: 767px) {
  .main-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .main-text {
    max-width: 383px;
    padding-top: 132px;
  }
  .main-text h2 {
    font-size: 28px;
  }
  .main-text h5 {
    margin-bottom: 536px;
  }
  .consultation-form {
    display: flex;
    width: 295px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }
  .consultation {
    z-index: 1;
  }
  .consultation-form > label {
    max-width: 224px;
    border-bottom: 1px #d0d5dd solid;
    color: #667085;
    font-family: SF Pro Text;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.078px;
  }
  .screenshot-block {
    position: absolute;
    top: 316px;
    left: 117px;
    gap: 20px;
    width: 624px;
    flex-wrap: wrap;
  }
}
footer {
  flex: 0 0 auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 12px;
  background-color: #101828;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.08), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
  align-self: center;
  padding: 24px;
  margin-bottom: 48px;
}

footer > p {
  color: #ffffff;
  margin: 0px;
}
footer > p img {
  vertical-align: middle;
  margin-right: 12px;
}

.block-contact {
  display: flex;
  align-items: flex-start;
}

.contact-item {
  display: flex;
  flex-direction: column;
}
.contact-item p {
  color: #98a2b3;
  font-family: SF Pro Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.contact-item p img {
  vertical-align: middle;
  margin-right: 12px;
}
.contact-item span {
  color: #ffffff;
  font-family: SF Pro Text;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  width: 294px;
}

@media (max-width: 1439px) {
  .contact-item {
    display: flex;
    width: 176px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 14px;
  }
  .contact-item > p {
    width: 176px;
  }
  .contact-item > span {
    width: 176px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .contact-item {
    display: flex;
    width: 154px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 14px;
  }
  .contact-item p {
    width: 176px;
  }
  .contact-item span {
    width: 176px;
  }
  .block-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  footer {
    margin-top: auto;
    border-radius: 12px;
    max-width: 767px;
    margin-bottom: auto;
    margin-left: 0;
  }
  .block-contact {
    gap: 60px;
  }
}
.block-development-main {
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-development {
  max-width: 1224px;
  padding-top: 80px;
  padding-bottom: 82px;
  display: flex;
  grid-template-columns: 1fr 1fr;
  width: 1224px;
  flex-direction: column;
  gap: 32px;
}

.development-cycle {
  display: flex;
  flex-direction: column;
  gap: 232px;
  flex-direction: row;
}

.development-stack {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.dev-with-title {
  flex-direction: column;
  font-family: SF Pro Text;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  gap: 16px;
  display: flex;
}

.dev-items {
  padding: 0px;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  width: 496px;
  flex-wrap: wrap;
  color: #344054;
  font-family: SF Pro Text;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.dev-items > *:not(:last-child)::after {
  content: "/";
  color: #306ff5;
  padding: 0 4px;
}

.list-of-stack {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -125px;
}

.list-of-stack > * {
  list-style-type: none;
  padding: 12px 0;
  display: flex;
  color: #101828;
  font-family: SF Pro Text;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.38px;
}

.list-of-stack > *::after {
  display: list-item;
  height: 24px;
  width: 24px;
  content: "";
  margin-left: 12px;
  background: url(../../../icons/chevron_right_small_24.svg) no-repeat;
}

@media (max-width: 1439px) {
  .block-development {
    gap: 83px;
    padding-top: 32px;
    padding-bottom: 35px;
    font-size: 28px;
  }
  .development-cycle {
    gap: 120px;
  }
  .dev-items {
    font-size: 14px;
    max-width: 277px;
  }
  .list-of-stack {
    top: 0px;
  }
}
@media (max-width: 767px) {
  .development-cycle {
    flex-direction: column;
    gap: 32px;
  }
  .block-development {
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 52px;
  }
}
.projects-block {
  background-color: #F2F4F7;
}

.projects-title {
  padding-top: 80px;
}

.projects-title > h2 {
  margin-top: 0px;
  margin-bottom: 27px;
  max-width: 600px;
}

.number-in-project-text {
  color: #306ff5;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.projects-categories {
  font-family: SF Pro Text;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px;
  margin: 0px;
}

.categories-items {
  padding: 0px;
  margin: 0px;
}

.categories-items > li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.categories-items > li > img {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  margin: 5px;
  border-radius: 50%;
  vertical-align: middle;
  box-sizing: unset;
  padding: 10px;
}

.items-adapt {
  display: none;
}

@media (max-width: 1439px) {
  .projects-categories {
    display: flex;
    gap: 180px;
    min-height: 601px;
    padding: 0;
  }
  .number-in-project-text {
    font-size: 28px;
  }
  .projects-title {
    max-width: 380px;
  }
  .categories-items {
    display: none;
  }
  .items-adapt {
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .items-adapt > li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .items-adapt > li > img {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    margin: 5px 5px 5px 0px;
    border-radius: 50%;
    vertical-align: middle;
    box-sizing: unset;
    padding: 10px;
  }
  .projects-categories {
    margin-top: 48px;
    max-width: 601px;
    display: flex;
  }
  .projects-categories {
    padding-top: 45px;
    padding-bottom: 44px;
  }
}
@media (max-width: 767px) {
  .projects-categories {
    display: flex;
    gap: 60px;
    min-height: 601px;
    padding: 0;
  }
  .number-in-project-text {
    font-size: 28px;
  }
  .projects-title {
    max-width: 380px;
  }
  .categories-items {
    display: none;
  }
  .items-adapt {
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .items-adapt > li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .items-adapt > li > img {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    margin: 5px 5px 5px 0px;
    border-radius: 50%;
    vertical-align: middle;
    box-sizing: unset;
    padding: 10px;
  }
  .projects-categories {
    margin-top: 48px;
    max-width: 601px;
    display: flex;
  }
  .projects-categories {
    padding-top: 45px;
    padding-bottom: 44px;
  }
}
.block-proud {
  padding-top: 120px;
  padding-bottom: 40px;
}

.block-items {
  gap: 160px;
  display: flex;
  flex-direction: row;
  margin-top: 54px;
}
.block-items button {
  margin-top: 10px;
}

.proud-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 600px;
}

.proud-items {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  padding: 0px;
}
.proud-items .proud-item {
  color: #1d2939;
  font-family: SF Pro Text;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 0px 16px;
}

.i-teka-information {
  margin-top: 40px;
}

.i-teka-all {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 32px;
}

.i-teka-plus {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  padding: 0px;
  color: #101828;
  font-family: SF Pro Text;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  gap: 32px;
}

.i-teka-plus > li > img {
  vertical-align: middle;
  margin-right: 8px;
}

.i-teka-stat {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 48px;
  margin: 0px;
  padding: 0px;
}

.i-teka-stat-num {
  color: #101828;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%;
}

.i-teka-stat-text {
  color: #667085;
  font-family: SF Pro Text;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.marketplaces {
  padding-bottom: 10px;
}

.marketplaces > a > img {
  width: 148px;
  height: 40px;
}

.block-discuss {
  /* display: flex; */
  /* flex-direction: row; */
  background: #2D66EE;
  /* mix-blend-mode: overlay; */
  /* background: url("//src/assets/img/Noise.png"), lightgray 0% 0% / 100px 100px repeat; */
  flex-shrink: 0;
}

body {
  margin: 0;
  background-color: #F2F4F7;
}

main {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
}

img {
  height: 24px;
  width: 24px;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

h2 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%;
}

h3 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  line-height: 144%;
}

h5 {
  font-family: SF Pro Text;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

button {
  text-align: left;
  border-radius: 8px;
  background: #2D66EE;
  color: white;
  font-family: SF Pro Text;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 600;
  border: 0px;
  padding: 11px 24px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button > * {
  margin: 0px;
  padding: 0px;
}

@media (max-width: 1439px) {
  .container {
    max-width: 702px;
    margin: 0 auto;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 383px;
    margin: 0 auto;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
}
/* .test {
    color: yellow !important;
}

.test {
    color: red !important;
} *//*# sourceMappingURL=style.css.map */