.block-development-main {
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-development {
    max-width: 1224px;
    padding-top: 80px;
    padding-bottom: 82px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    width: 1224px;
    flex-direction: column;
    gap: 32px;
}

.development-cycle {
    display: flex;
    flex-direction: column;
    gap: 232px;
    flex-direction: row;
}

.development-stack {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.dev-with-title {
    flex-direction: column;
    font-family: SF Pro Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    gap: 16px;
    display: flex;
}

.dev-items {
    padding: 0px;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    width: 496px;
    flex-wrap: wrap;
    color: #344054;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.dev-items > *:not(:last-child)::after {
    content: "/";
    color: $colors-accent;
    padding: 0 4px;
}

.list-of-stack {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -125px;
}

.list-of-stack > * {
    list-style-type: none;
    padding: 12px 0;
    display: flex;
    color: $colors-dark;
    font-family: SF Pro Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.38px;
}

.list-of-stack > *::after {
    display: list-item;
    height: 24px;
    width: 24px;
    content: "";
    margin-left: 12px;
    background: url(../../../icons/chevron_right_small_24.svg) no-repeat;
}

@media (max-width: 1439px) {
    .block-development {
        gap: 83px;
        padding-top: 32px;
        padding-bottom: 35px;
        font-size: 28px;
    }

    .development-cycle {
        gap: 120px;
    }
    .dev-items {
        font-size: 14px;
        max-width: 277px;
    }

    .list-of-stack {
        top: 0px;
    }
}

@media (max-width: 767px) {
    .development-cycle {
        flex-direction: column;
        gap: 32px;
    }

    .block-development {
        gap: 32px;
        padding-top: 32px;
        padding-bottom: 52px;
    }
}
