.block-development-main {
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-development {
    max-width: 1224px;
    padding-top: 80px;
    padding-bottom: 82px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1224px;
}

.development-cycle {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.development-stack {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.dev-with-title {
    flex-direction: column;
    font-family: SF Pro Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.dev-items {
    padding: 0px;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    width: 496px;
    flex-wrap: wrap;
    color: #344054;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.dev-items>*:not(:last-child)::after {
    content: "/";
    color: #2D66EE;
    padding: 0 4px;
}

.list-of-stack {
    display: flex;
    flex-direction: column;
}

.list-of-stack>* {
    list-style-type: none;
    padding: 12px 0;
    display: flex;
    color: #1d2939;
    font-family: SF Pro Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.38px;
}

.list-of-stack>*::after {
    display: list-item;
    height: 24px;
    width: 24px;
    content: "";
    margin-left: 12px;
    background: url(../icons/chevron_right_small_24.svg) no-repeat;
}