footer {
    flex: 0 0 auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 12px;
    background-color: #101828;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.08), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
    align-self: center;
    padding: 24px;
    margin-bottom: 48px;
}

footer>p {
    color: white;
    margin: 0px;
}

footer>p>img {
    vertical-align: middle;
}

.block-contact {
    display: flex;
    align-items: flex-start;
}

.contact-item {
    display: flex;
    flex-direction: column;
}

.contact-item>p {
    color: #98A2B3;
    font-family: SF Pro Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.contact-item>span {
    color: #FFF;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    width: 294px;
}

.contact-item>p>img {
    vertical-align: middle;
    margin-right: 12px;
}

footer>p>img {
    margin-right: 12px;
}

@media(max-width: 1439px) {
    .contact-item {
        display: flex;
        width: 176px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        font-size: 14px; 
    }

    .contact-item>p {
        width: 176px;
    }

    .contact-item>span {
        width: 176px;
        font-size: 14px; 
    }
}


@media(max-width: 767px) {
    .contact-item {
        display: flex;
        width: 154px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        font-size: 14px; 
    }

    .block-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    footer {
        margin-top: auto;
        border-radius: 12px;
        max-width: 767px;
        margin-bottom: auto;
        margin-left: 0;
    }

    .contact-item>p {
        width: 176px;
    }

    .contact-item>span {
        width: 176px;
    }

    .block-contact {
        gap: 60px;
    }
}