header {
    position: fixed;
    z-index: 1;
    top: 24px;
    transform: translateX(-50%);
    left: 50%;
}

.menu-head-burger {
    display: none;
}

.main-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    padding: 16px 24px;
    border-radius: 12px;
    background-color: white;
    align-self: center;
    gap: 80px;
    width: 1224px;
}

.main-head>h3 {
    text-transform: uppercase;
    color: #2D66EE;
}

.main-head>nav>ul {
    display: flex;
    flex-direction: row;
    gap: 24px
}

.main-head>nav>ul>li>a {
    text-decoration: none;
    color: black;
}

.contacts {
    display: flex;
    flex-direction: row;
    color: #2D66EE;
    font-family: SF Pro Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    gap: 32px;
}

.phone-numbers-contact>a {
    text-decoration: none;
    margin-right: 16px;

}

.phone-numbers-contact>img {
    vertical-align: middle;
}

.email-contact>a {
    text-decoration: none;
}

.email-contact>img {
    vertical-align: middle;
}



@media(max-width: 1439px) {

    .menu-burger,
    .phone-numbers-contact {
        display: none;
    }

    .menu-head-burger {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .main-head>h3 {
        font-size: 20;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        color: #2D66EE;
        text-decoration: none;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .email-contact {
        gap: 8px;
    }

    .main-head {
        display: flex;
        width: 100%;
        height: 90px;
        padding: 24px 32px;
        justify-content: space-between;
        flex-shrink: 0;
    }

    header {
        position: fixed;
        margin-top: 24px;
        top: 0;
        z-index: 50;
        width: 100%;
    }

    .menu-head-burger span {
        background: #2D66EE;
        width: 59px;
        height: 8px;
        flex-shrink: 0;
    }

    .menu-head-burger:after {
        bottom: 8px;
    }

    .menu-head-burger:before {
        top: 8px;
    }
}

@media(max-width: 768px) {

    .menu-burger,
    .contacts {
        display: none;
    }

    .menu-head-burger {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .menu-head-burger>span {
        background: #2D66EE;
        width: 40px;
        height: 4px;
        flex-shrink: 0;
    }

    .menu-head-burger:after {
        bottom: 4px;
    }

    .menu-head-burger:before {
        top: 4px;
    }
}