/* Первый блок с текстом*/
.block-main {
    /* display: flex;
    flex-direction: row; */
    background-color: #F2F4F7;
    position: relative;
    max-width: 1224px;
    margin: auto;
}

.main-part {
    top: 160px;
}

.main-section {
    position: relative;
    min-height: 900px;
}

.main-text {
    max-width: 600px;
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.word-in-text {
    color: #2D66EE;
}

.consultation {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px;
    gap: 32px;
    background-color: white;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin-top: 64px;
    max-width: 724px;
}

.consultation-form {
    display: flex;
    justify-content: space-between;
}

.consultation-form>label {
    color: #667085;
    font-family: SF Pro Text;
    font-size: 13px;
    font-style: normal;
    line-height: 16px;
    margin-right: 24px;

}

.consultation-form input[type=tel],
.consultation-form input[type=text] {
    color: #000000;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    line-height: 22px;
    border-bottom: #D0D5DD solid;
    border-width: 0px 0px 0.7px 0px;
    width: 200px;
    margin-top: 8px;
}

.submit-button {
    text-align: left;
    border-radius: 8px;
    background: #2D66EE;
    color: white;
    font-family: SF Pro Text;
    font-size: 14px;
    line-height: 18px;
    border: 0px;
    padding: 11px 24px;
    margin: 0px;
}

.screenshot-block {
    position: absolute;
    top: -591px;
    left: 720px;
    display: flex;
    gap: 20px;
    width: 624px;
    flex-wrap: wrap;
    transform: rotate(-12deg);
}

.screenshot-block>img {
    width: 292.226px;
    height: 632.767px;
    border-radius: 24px;
}