/* Первый блок с текстом*/
.block-main {
    display: flex;
    flex-direction: row;
    background-color: #F2F4F7;
    position: relative;
    max-width: 1224px;
    margin: auto;

}

.main-section {
    position: relative;
    min-height: 900px;
}

.main-text {
    max-width: 600px;
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.word-in-text {
    color: #2D66EE;
}

.consultation {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px;
    gap: 32px;
    background-color: white;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin-top: 64px;
    max-width: 724px;
}

.consultation-form {
    display: flex;
    justify-content: space-between;
}

.consultation-form>label {
    color: #667085;
    font-family: SF Pro Text;
    font-size: 13px;
    font-style: normal;
    line-height: 16px;
    margin-right: 24px;

}

.consultation-form input[type=tel],
.consultation-form input[type=text] {
    color: #000000;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    line-height: 22px;
    border-bottom: #D0D5DD solid;
    border-width: 0px 0px 0.7px 0px;
    width: 200px;
    margin-top: 8px;
}

.submit-button {
    text-align: left;
    border-radius: 8px;
    background: #2D66EE;
    color: white;
    font-family: SF Pro Text;
    font-size: 14px;
    line-height: 18px;
    border: 0px;
    padding: 11px 24px;
    margin: 0px;
}

.screenshot-block {
    position: absolute;
    top: -591px;
    left: 720px;
    display: flex;
    gap: 20px;
    width: 624px;
    flex-wrap: wrap;
    transform: rotate(-12deg);
}

.screenshot-block>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.screenshot-block>div>img {
    width: 292.226px;
    height: 632.767px;
    border-radius: 24px;
}

@media (max-width: 1439px) {
    .main-section {
        position: relative;
        min-height: 762px;
        margin-bottom: 32px;
    }

    .main-text {
        max-width: 383px;
    }

    .consultation {
        width: 382px;
        padding: 32px;
        font-size: 16px;

    }

    .consultation-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .screenshot-block {
        top: -69px;
        left: 456px;
    }

    .screenshot-block>div>img {
        width: 137.93px;
        height: 298.663px;
    }
}

@media (max-width: 767px) {
    .main-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .main-text {
        max-width: 383px;
        padding-top: 132px;
    }


    .main-text>h2 {
        font-size: 28px;
    }

    .main-text>h5 {
        margin-bottom: 536px;
    }

    .consultation-form{
        display: flex;
        width: 295px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
    }

    .consultation {
        z-index: 1;
    }

    .consultation-form>label {
        max-width: 224px;
        border-bottom: 1px #D0D5DD solid;
        color: #667085;
        font-family: SF-Pro-Text;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.078px;
    }

    .screenshot-block {
        position: absolute;
        top: 316px;
        left: 117px;
        gap: 20px;
        width: 624px;
        flex-wrap: wrap;
    }
}