/* Первый блок с текстом*/
.block-main {
    display: flex;
    flex-direction: row;
    background-color: #F2F4F7;
    width: 100%;
}

.main-part{
    position: relative;
    left: 108px;
    top: 160px
}

.main-text>h3 {
    font-size: 36px;
    font-weight: 700;
    max-width: 600px;
}

.main-text>p {
    font-family: SF Pro Text;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    max-width: 600px;
}

.word-in-text {
    color: #2D66EE;
}

.consultation {
    display: inline-flex;
    position: relative;
    top: 80px;
    justify-content: space-between;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: white;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
    border-radius: 12px;

}

.consultation>h3 {
    width: 600px;
    color: #101828;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
}

.consultation-form>form {
    display: flex;
    justify-content: space-between;
}

.consultation-form>form>label {
    color: #667085;
    font-family: SF Pro Text;
    font-size: 13px;
    font-style: normal;
    line-height: 16px;
    margin-right: 24px;
}

.consultation-form input[type=tel],
.consultation-form input[type=text] {
    color: #101828;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    line-height: 22px;
    border-bottom: #D0D5DD solid;
    border-width: 0px 0px 0.7px 0px;
    width: 200px;
}

.consultation-form input[type=submit] {
    border-radius: 8px;
    background: #2D66EE;
    padding: 11px 24px;
    color: white;
    font-family: SF Pro Text;
    font-size: 14px;
    line-height: 18px;
    border: 0px;
}


.screenshot-block>img {
    width: fit-content;
    height: fit-content;
}