@import "./global.css";
@import "./fonts.css";
@import "./utils.css";
@import url(fonts.css);

body {
    display: flex;
    flex-direction: column;
}

img {
    height: 24px;
    width: 24px;
}

/* .test {
    color: yellow !important;
}

.test {
    color: red !important;
} */