@import "./global.css";
@import "./fonts.css";
@import "./utils.css";
@import "header.css";
@import "main-form.css";
@import "footer.css";
@import "development.css";
@import "projects.css";
@import "proud.css";
@import "discuss.css";
@import url(fonts.css);

body {
    margin: 0;
    background-color: #F2F4F7;
}

main{
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


.container{
    max-width: 1224px;
    margin: 0 auto;
}

img {
    height: 24px;
    width: 24px;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

h2 {
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 144%;
}

h3 {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    line-height: 144%;
}

h5 {
    font-family: SF Pro Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

button {
    text-align: left;
    border-radius: 8px;
    background: #2D66EE;
    color: white;
    font-family: SF Pro Text;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: 600;
    border: 0px;
    padding: 11px 24px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button>*{
    margin: 0px;
    padding: 0px;
}

@media (max-width: 1439px) {
    .container{
        max-width: 702px;
        margin: 0 auto;
    }

    h2{
        font-size: 28px;
    }

    h3{
        font-size: 16px;
    }
}

@media (max-width: 767px){
    .container{
        max-width: 383px;
        margin: 0 auto;
    }

    h2{
        font-size: 28px;
    }

    h3{
        font-size: 16px;
    }
}


/* .test {
    color: yellow !important;
}

.test {
    color: red !important;
} */