.todo-list{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    gap: 5px;
}

.todo{
    align-items: center;
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.todo-checkbox{
    width: 25px;
    height: 25px;
}